@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background-color: #f4f4f4;
    color: #333;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

    h1, h2{
        margin-bottom: 10px;
        text-align: center;
} 

header, section.normal {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}  

section.flex-content{
    background-color: lightslategray;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
}


article.text-media{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article > div.text{
    flex: 1 1 500px;

}


article > div.media{
    flex: 1 0 500px;

}

div.media > img{
    display: block;
    margin: auto;
}

div.media > iframe{
    display: block;
    margin: auto;
    width: 90%;
}